body {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
}

/*loading spinner debut*/
.chargement {
  position: fixed;
  z-index: 1;
  background: #ffff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  animation: disparait 1s 3s forwards;
}

.point {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: linear-gradient(#ff79da, #9356dc);
  margin: 0 20px;
  animation: charge infinite 0.3s alternate;
}

.p2 {
  animation-delay: 0.05s;
}

.p3 {
  animation-delay: 0.1s;
}

@keyframes charge {
  100% {
    transform: translateY(-30px);
  }
}

@keyframes disparait {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
/*loading spinner fin*/

#nav_div {
  display: flex;
  justify-content: center;
  text-align: center;
}

#nav_div img {
  width: 100%;
  height: 40px;
  padding: 20px;
}

#position_div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: gainsboro;
}

#position_div input {
  display: flex;
  justify-content: center;
  border: 0px;
  margin-left: 15px;
  font-weight: 700;
  background-color: gainsboro;
}

::placeholder {
  color: black;
}

#presentation {
  background-color: #f3f3f3;
}

.titre {
  padding-top: 20px;
}

.titre h3 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Roboto";
  font-weight: 900;
  margin-top: 0px;
  font-size: 25px;
}

.titre p {
  display: flex;
  justify-content: center;
  font-family: "Roboto";
  text-align: center;
}

.recherche_div button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 100px;
  border-radius: 100px;
  height: 55px;
  font-size: 19px;
  padding-left: 25px;
  padding-right: 25px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
}

.recherche_div {
  padding-bottom: 1px;
}

#filtre_titre h2 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 40px;
  margin-top: 60px;
  margin-left: 20px;
}

#filtre_div {
  width: 100%;
}

.filtre_element_icone {
  padding-left: 15px;
  padding-right: 15px;
  color: gray;
  margin-right: 18px;
}

.filtre_element_texte {
  color: black;
}

.filtre_numero {
  border: 2px solid white;
  font-size: 20px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  margin-right: 18px;
  margin-left: -35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356dc;
  color: white;
}

#filtre_div li {
  border: 2px solid whitesmoke;
  display: flex;
  text-align: center;
  align-items: center;
  border-radius: 28px;
  height: 74px;
  width: auto;
  margin-bottom: 30px !important;
  padding: 20px;
  font-family: "Roboto";
  font-weight: bold;
  font-size: larger;
  background-color: whitesmoke;
}


.filtre_element :active {
 background-color: #cbb1ea;
}

#vignette {
  display: flex;
  flex-direction: column;
  background-color: #f3f3f3;
  width: 100%;
  height: 100%;
  border: whitesmoke;
}

#vignette_titre h2 {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -15px;
  margin-top: 60px;
  margin-left: 20px;
}

.restaurant_img img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.vignette_annotation {
  display: flex;
  justify-content: right;
  width: 96%;
  position: relative;
  top: -365px;
  font-size: 30px;
  color: green;
}

.vignette_annotation span {
  background-color: aquamarine;
}

.icone_like1 {
  border: 0 solid transparent;
  cursor: pointer;
  position: relative;
}

.icone_like1:hover {
  animation: vide 1s;
}

.icone_like2 {
  border: 0 solid transparent;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 2px;
  color: #f6f6f6;
}

.icone_like2:hover {
  animation: remplis 2s ease-in-out both;
}

@keyframes vide {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes remplis {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    opacity: 1;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.vignette_restaurant {
  border: 1px solid gray;
  border-radius: 22px;
  width: 98%;
  margin-block: 20px;
  margin-left: 20px;
  margin-top: 40px;
}

.restaurant_nom {
  padding: 10px;
  margin-top: -35px;
  color: black;
}

h4 {
  font-weight: 900;
  font-family: "Roboto";
  font-size: 25px;
}

#restaurant_nouveau .restaurant_nom {
  margin-top: -53px;
  line-height: 5px;
}

#restaurant_ancien :hover {
  margin-top: -15px;
  cursor:pointer
}

#restaurant_ancien .restaurant_nom {
  margin-top: -15px;
  line-height: 5px;
}

a {
  text-decoration: none;
  background-color: white;
}

.restaurant_nom i {
  display: flex;
  justify-content: right;
  position: relative;
  top: -35px;
  left: -50px;
  font-size: 32px;
}

footer {
  background-color: rgb(77, 77, 77);
  width: 100%;
  position: absolute;
}

.footer_logo {
  width: 100%;
  padding: 25px;
  margin-left: 11px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Shrikhand";
  color: white;
} 

.footer_icone_main {
  margin-left: -7px;
}

footer ul {
  list-style-type: none;
  color: white;
  margin-top: -5px;
  line-height: 35px;
}

/*tablettes à partir de 768px*/
@media all and (max-width: 992px) and (min-width: 768px) {
  body {
    width: 120%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  }

  .point {
    height: 20px;
    width: 20px;
}

  .restaurant_img {
    width: 100%;
  }

  .vignette_restaurant {
    width: 95%;
  }

  footer {
    width: 120%;
  }
}

/*version mobile*/
@media all and (max-width: 767px) {
  body {
    width: 145%;
    padding: 0;
    margin: 0;
  }

  .point {
    height: 20px;
    width: 20px;
}

  .restaurant_img {
    width: 100%;
  }

  .vignette_restaurant {
    width: 90%;
  }

  footer {
    width: 145%;
  }
}
