body {
  margin: auto;
  padding: auto;
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

nav a {
  color: black;
  font-size: 22px;
}

#header_logo {
  width: 50%;
}

#header_img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

#restaurant_carte {
  border-radius: 50px 50px 0 0;
  width: 100%;
  position: relative;
  margin-top: -50px;
  background-color: #f3f3f3;
}

#restaurant_carte h2 {
  display: block;
  font-size: 1.5em;
  margin: 30px 20px 20px 20px;
  font-weight: bold;
  font-family: "Shrikhand";
}

.restaurant_titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.restaurant_texte_icone {
  margin-right: 30px;
}

#menu_bloc h3 {
  font-weight: 400;
}

#menu_bloc hr {
  width: 60px;
  height: 3px;
  background-color: aquamarine;
  border: transparent;
  margin-left: 0px;
  margin-top: -20px;
}

#bloc_entrees,
#bloc_plats,
#bloc_desserts {
  margin: 5%;
  width: 90%;
}

.entrees_choix,
.plats_choix,
.desserts_choix {
  border: 1px solid whitesmoke;
  cursor: pointer;
  display: flex;
  margin: 20px 0 20px 0;
  background-color: white;
  border-radius: 25px;
  padding: 10px;
  box-shadow: 6px -6px 5px 1px rgba(186, 186, 186, 0.32);
  -webkit-box-shadow: 6px -6px 5px 1px rgba(186, 186, 186, 0.32);
  -moz-box-shadow: 6px -6px 5px 1px rgba(186, 186, 186, 0.32);
}

.vignette_details {
  width: 70%;
  line-height: 20px;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold {
  font-weight: 600;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vignette_texte {
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vignette_prix {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 15%;
  font-weight: 600;
  padding-bottom: 2px;
}

.validation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  font-size: 15px;
}

#nav_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 55px;
}

#nav_div button {
  border-radius: 100px;
  padding: 15px 50px 15px 50px;
  font-size: 17px;
  margin-bottom: 70px;
  background: linear-gradient(#FF79DA, #9356DC);
  color: white;
}

footer {
  background-color: rgb(77, 77, 77);
  line-height: 32px;
  margin-top: -60px;
  padding-bottom: 15px;
  font-family: 'Roboto';
  width: 100%;
}

.footer_logo {
  font-family: "Shrikhand";
  display: flex;
  align-items: center;
  margin-left: 40px;
  padding-top: 25px;
  font-size: 27px;
  color: white;
}

footer ul {
  list-style-type: none;
}

footer a {
  text-decoration: none;
  color: white;
}

.footer_icone_ustensiles {
  color: white;
  padding: 9px;
}

.footer_icone_main {
  color: white;
  padding: 5px;
}

/*version desktop*/
@media all and (min-width: 992px) {

#header_logo {
    width: 20%;
  }

#header_img {
  height: 900px;
}

nav a {
    font-size: 40px;
  }

  #restaurant_carte h2 {
  font-size: 55px;
  margin-top: 80px;
}

.restaurant_nom h2{
margin-left: 95px;
font-size: 65px;
}

.restaurant_texte_icone {
  font-size: 55px;
  margin-top: 60px;
  margin-right: 55px;
}

#menu_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
}

#menu_bloc h3 {
  font-size: 40px;
}

#menu_bloc hr {
  width: 100px;
  height: 8px;
}

.entrees_choix,
.plats_choix,
.desserts_choix {
  margin: 45px 0px 45px 0;
  height: 70px;
  width: 100%;
  padding: 25px;
}

.vignette_details {
  justify-content: center;
  line-height: 40px;
}

.bold {
  font-size: 25px;
}

.vignette_texte {
  font-size: 19px;
}

.vignette_prix {
  font-size: 25px;
}

.validation {
  font-size: 23px;
}

#nav_div button {
  font-size: 35px;
  padding: 30px 60px 30px 60px;
}














}