body {
  width: 100%;
  height: 100%;
  padding: 0px;
  font-family: "Roboto", sans-serif;
}

#header_logo {
  display: flex;
  justify-content: center;
}

header a {
  color: black;
  position: absolute;
  top: 20px;

  font-size: 40px;
}

#header_img img {
  width: 100%;
  height: 460px;
  object-fit: cover;
}

main {
  border-radius: 45px 45px 0 0;
  position: relative;
  top: -94px;
  width: 100%;
  background-color: whitesmoke;
}

.restaurant_nom {
  font-family: "Shrikhand", "cursive";
  font-size: 29px;
  padding: 45px 10px 0 25px;
}

.restaurant_texte_icone {
  position: absolute;
  top: 50px;
  right: 40px;
  border: 0 solid transparent;
  font-size: 25px;
}

.icone_like1 {
  border: 0 solid transparent;
  cursor: pointer;
  position: relative;
}

.icone_like1:hover {
  animation: vide 1s;
}

.icone_like2 {
  border: 0 solid transparent;
  cursor: pointer;
  opacity: 0;
  position: absolute;
  top: 2px;
  color: #f6f6f6;
}

.icone_like2:hover {
  animation: remplis 2s ease-in-out both;
}

@keyframes vide {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

@keyframes remplis {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  100% {
    opacity: 1;
    background: linear-gradient(#9356dc, #ff79da);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#menu_bloc {
  width: 100%;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
  margin-top: 60px;
  font-weight: 100;
}

.bloc_entrees_titre {
  margin-top: -75px;
}

#bloc_entrees {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 0 20px;
  margin-bottom: -55px;
}

#bloc_entrees hr {
  width: 45px;
  height: 4px;
  margin: 0px 6px 15px;
  position: relative;
  top: -18px;
  border-style: none;
  background-color: #99e2d0;
  opacity: 1;
}

.vignette_details {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  width: 80%;
  animation: apparition 500ms forwards;
}

@keyframes apparition {
  0% {
    width: 90%;
  }

  50% {
    width: 60%
  }

  100% {
    width: 75%;
  }
}

.vignette_prix {
  width: 5%;
}

.entrees_choix {
  border: 2px solid whitesmoke;
  margin-bottom: 14px;
  border-radius: 25px;
  padding: 12px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.validation {
  width: 15%;
  height: 80px;
  margin-right: -125px;
  margin-bottom: -12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  color: white;
  font-size: 19px;
  transition-property: margin;
  transition-duration: 500ms;
  float: right;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  visibility: hidden;
}

.entrees_choix:hover .validation {
  margin-right: -12px;
  visibility: visible;
}

.entrees_choix:hover {
  overflow: hidden;
}

.entrees_choix:hover i {
  animation: rotation-valide 500ms forwards;
}

@keyframes rotation-valide {
  0% {
    transform: rotateZ(0deg);
  }

  50% {
    transform: rotateZ(180deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}

#entrees_1 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 0s;
}

#entrees_2 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 0.2s;
}

#entrees_3 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 0.4s;

}

#entrees_4 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 0.5s;
}

@keyframes monter {
  30% {
    margin-top: 7%;
    opacity: 0.3;
  }

  60% {
    margin-top: 4%;
    opacity: 0.6;
  }

  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

.bold {
  font-weight: 600;
  font-size: 19px;
  padding-bottom: 6px;
  margin: 0 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.vignette_texte {
  font-size: 17px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#bloc_plats {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 0 20px;
  margin-bottom: -55px;
}

#bloc_plats hr {
  width: 45px;
  height: 4px;
  margin: 0px 6px 15px;
  position: relative;
  top: -18px;
  border-style: none;
  background-color: #99e2d0;
  opacity: 1;
}

.plats_choix {
  border: 2px solid whitesmoke;
  margin-bottom: 14px;
  border-radius: 25px;
  padding: 12px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.plats_choix:hover .validation {
  margin-right: -12px;
  visibility: visible;
}

.plats_choix:hover {
  overflow: hidden;
}

.plats_choix:hover i {
  animation: rotation-valide 500ms forwards;
}

#plats_1 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 0.8s;
}

#plats_2 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 1.1s;
}

#plats_3 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 1.4s;
}

@keyframes monter {
  30% {
    margin-top: 7%;
    opacity: 0.3;
  }

  60% {
    margin-top: 4%;
    opacity: 0.6;
  }

  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

#bloc_desserts {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 20px 0 20px;
  margin-bottom: -25px;
}

#bloc_desserts hr {
  width: 45px;
  height: 4px;
  margin: 0px 6px 15px;
  position: relative;
  top: -18px;
  border-style: none;
  background-color: #99e2d0;
  opacity: 1;
}

.desserts_choix {
  border: 2px solid whitesmoke;
  margin-bottom: 14px;
  border-radius: 25px;
  padding: 12px;
  height: 55px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  cursor: pointer;
}

.desserts_choix:hover .validation {
  margin-right: -12px;
  visibility: visible;
}

.desserts_choix:hover {
  overflow: hidden;
}

.desserts_choix:hover i {
  animation: rotation-valide 500ms forwards;
}

#desserts_1 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 1.7s;
}

#desserts_2 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 2s;
}

#desserts_3 {
  animation: monter 1s linear forwards;
  margin-top: 10%;
  opacity: 0;
  animation-delay: 2.3s;
}

@keyframes monter {
  30% {
    margin-top: 7%;
    opacity: 0.3;
  }

  60% {
    margin-top: 4%;
    opacity: 0.6;
  }

  100% {
    margin-top: 0%;
    opacity: 1;
  }
}

#nav_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: -95px;
}

#nav_div button {
  border-radius: 100px;
  height: 55px;
  font-size: 19px;
  padding-left: 45px;
  padding-right: 45px;
  margin: 50px;
  margin-bottom: 50px;
  background: linear-gradient(#ff79da, #9356dc);
  color: white;
}

footer {
  background-color: rgb(77, 77, 77);
  max-width: 1400px;
  margin: auto;
  position: absolute;
}

.footer_logo {
  width: 100%;
  padding: 25px;
  margin-left: 11px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  font-family: "Shrikhand";
  color: white;
}

footer ul {
  list-style-type: none;
  color: white;
  margin-top: -5px;
  line-height: 35px;
}

footer a {
  color: white;
  text-decoration-line: none;
}

/*tablettes à partir de 768px*/
@media all and (min-width: 768px) {}

/*version desktop*/
@media all and (min-width: 992px) {

  #menu_bloc {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  h3 {
    margin-top: 40px;
    font-weight: 100;
  }

  .vignette_details {
    width: 65%;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .vignette_prix {
    width: 15%;
  }

  .validation {
    width: 20%;
  }

  #bloc_entrees {
    width: 35%;
  }

  #bloc_plats {
    margin-bottom: 15px;
    width: 35%;
  }

  #bloc_desserts {
    margin-bottom: 15px;
    width: 35%;
  }



}